{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <title>FDCR</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-11">
                <img src="{% static 'images/logo.png' %}" class="my-lg-4 col-lg-12 col-md-12 col-12">
            </div>
        </div>
    </div>
    <div class="container-fluid  sec-2-color pb-5">

        <div class="container pb-5">
            <div class="row">
                <p class="txt-sec2 pt-lg-3 pb-5 pt-5">{{title_text.text_description}}</p>



                    <form class="row">
                        {% csrf_token %}
                        <div class="col-lg-2">

                            <label for="report_type" class=" rep-type col-form-label">REPORT TYPE</label>
                            <select class="form-control select2" name="report_type" id="report_type" required>
                                <optgroup>
                                    {% for type in report_type %}
                                    <option value="{{ type.id }}">{{type.type}}</option>
                                    {%endfor%}
                                </optgroup>
                            </select>
                        </div>
                        <div class="col-lg-4">
                            <label for="report_type" class=" rep-type col-form-label">ENTER REPORT #</label>
                            <input type="text" id="report_number" class="col-lg-10 txt-ent-type mb-2 col-md-5 col-12 form-control select2"
                                 placeholder=" Please Enter Report Number">
                        </div>
                        <div class="col-lg-4">
                            <label for="report_type" class=" rep-type col-form-label"><br></label> <input type="text" id="result" input
                                class="col-lg-10 col-12 sim-text-typ form-control select2 "
                                value="" >
                        </div>
                    </form>
            </div>
        </div>
    </div>
    </div>
    <div class="container-fluid sec-3-bg ">
        <div class="container">

            <div class="row">
                <p class="mt-lg-2 pt-2">{{text2.text_description}}</p>
            </div>
        </div>
    </div>
    <!-- Section 4 -->
    <div class="container-fluid mt-2 ">
        <div class="container">

            <div class="row">
                <div class="col-lg-2 col-md-6 col-6 ">
                    <img src="{% static 'images/FTC_logo.png' %}" class="my-lg-1 col-lg-6 col-md-5 col-6 p-2">
                </div>
                <div class="col-lg-2 col-md-6 col-6">
                    <img src="{% static 'images/IEA_logo.png' %}" class="my-lg-1 col-lg-6 col-md-6 col-6 p-2">
                </div>
                <div class="col-lg-2 col-md-6 col-6">
                    <img src="{% static 'images/ilo_logo.png' %}" class="my-lg-1 col-lg-6 col-md-6 col-6 p-2">
                </div>
                <div class="col-lg-2 col-md-6 col-6">
                    <img src="{% static 'images/SHRM_logo.png' %}" class="my-lg-1 col-lg-6 col-md-6 col-6 p-2">
                </div>



            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

<script>
    var wage = document.getElementById("report_number");
    var report_type = document.getElementById("report_type");
    var result = document.getElementById("result");
    wage.addEventListener("keydown", function (e) {
        if (e.code === "Enter") {  //checks whether the pressed key is "Enter"
            if (wage.value == null | wage.value == "")
            {
                alert("Please Enter Report Number")
            }
            else{
                

                $.ajax({
                    type: 'POST',
                    url: "{% url 'verify' %}",
                    data: { 'q': wage.value ,csrfmiddlewaretoken: '{{ csrf_token }}',"report_type" : report_type.value },
                    success: function (response) {
                        if (response.status == "success"){
                            result.value = wage.value + " is Registered"
                            result.style.color = "green"
                        }else{
                            result.value = wage.value + " is not Registered"
                            result.style.color = "red"

                        }
                        console.log(response)

                    }
                });
            }
        }
    });
</script>

</html>